body {
    background-color: rgb(255, 89, 0);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(246, 214, 35);
}


div {
    box-sizing: border-box;
}

#dibujo {
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cara {
    width: 70%;
    height: 70%;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
}


.ojos {
    width: 12%;
    height: 12%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}

#ojoIzq {
    top: 25%;
    left: 22%;
}

#ojoDer {
    top: 25%;
    right: 22%;
}


.nariz {
    width: 0;
    height: 0;
    border-left: 8% solid transparent;
    border-right: 8% solid transparent;
    border-top: 10% solid black;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}


.boca {
    background-color: black;
    width: 45%;
    height: 6%;
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
}


.lengua {
    background-color: red;
    width: 20%;
    height: 12%;
    border-radius: 0 0 50px 50px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}


.oreja {
    width: 0;
    height: 0;
    border-left: 15% solid transparent;
    border-right: 15% solid transparent;
    border-bottom: 12% solid yellow;
    position: absolute;
}

#orejaIzq {
    top: -8%;
    left: 15%;
    transform: rotate(-20deg);
}

#orejaDer {
    top: -8%;
    right: 15%;
    transform: rotate(20deg);
}